{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1><span>Enter parameters</span></h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}